.layout {
    display: flex;
    flex-direction: column;

    .head {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        height: 80px;
        margin-bottom: 10px;

        .left {
            flex: 1;
            display: flex;
        }

        .right {
            flex: 1;
            display: flex;
        }
    }
}