.cardComImage {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 55px;
    max-width: 100%;
   

    .imagem {
        display: flex;
        img {
            min-width: 450px;
            max-height: 350px;
            object-fit: cover;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 500px;
        text-align: justify;

        h3 {
            margin-top: 0;
            color: #806d5f;
            font-weight: 800;
            font-size: 30px;
        }

        h4 {
            font-size: 22px;
            font-weight: 600;
            color: rgb(73, 72, 72);
        }

        p {
            font-size: 15px;
            color: #635e5a;
        }
    }
}